<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>BlogArr</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
   <!--Open Graph's-->
   <meta property="og:image" content="https://i.imgur.com/P0EsQ3k.png"/>
   <meta property="og:title" content="BlogArr"/>
   <meta property="og:description" content="Blogs from pirates around the world."/>
   <!-- Chrome, Firefox OS and Opera -->
   <meta name="theme-color" content="#F8F8F8">
   <!-- Windows Phone -->
   <meta name="msapplication-navbutton-color" content="#F8F8F8">
   <!-- iOS Safari -->
   <meta name="apple-mobile-web-app-status-bar-style" content="#F8F8F8">

  <nav class="navbar navbar-default">
    <div class="container">
        <div style="display: inline">
          <img style="align-self: left; height: 100px; width: 110px; border-radius: 50%;" src="images/BlogArrImg.png"></img>
        </div>
        <div style="align-self: right; display: inline">
          <p style="font-size: 40px; color: #000;" class="navbar-brand">BlogArr</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="post"><a href="/compose">POST</a></li>
          <li id="about"><a href="/about">ABOUT US</a></li>
          <li id="contact"><a href="/contact">CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container-fluid">
